@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.navigation-user .search{
  background-image: url("../image/icon/search.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.navigation-user .heart {
  background-image: url("../image/icon/heart.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.navigation-user .favourites {
  border: 1px solid #7DB54F;
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: 400;
}

.navigation-user .want {
  border: 1px solid #756157;
  background-color: #756157;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  text-transform: uppercase;
}

.navigation-user .text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.main-intro {
  background: url("../image/icon/white-icon.svg") no-repeat bottom,
  url("../image/index-background-sedona.jpg") no-repeat top;
  background-position: bottom;
  backgroung-size: 100% auto;
  position: absolute;
}
